body {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  padding: 0;
  margin: 0;
}

.sidebar {
  height: 100vh;

  //   etc.
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}

.content {
  padding: 2rem;
}

body {
  @font-face {
    font-family: Timesnewarial; src: url('timesnewarial.ttf');
  }
  @font-face {
    font-family: Timesnewarial; font-weight: regular; src: url('timesnewarial.ttf');
  }
  font-family: Timesnewarial, serif;
}
