.header {
  //margin: auto;
  text-align: center;
  font-size: 40px;
  //position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  margin: 10px;
  //background: lightgrey;
  //border-bottom: 2px solid black;
}
.headline {
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 5px;
}
body {
  background-color: var(--bg);
}
@font-face {
  font-family: Ferry Black;
  src: url(Ferry-Black.otf);
  font-weight: 900;
}
@font-face {
  font-family: Parmigiano Text Pro;
  src: url(ParmigianoTextPro-Reg.otf);
  font-weight: regular;
}
h1 {
  color: var(--red);
  font-family: "Ferry-Black", Helvetica, Arial, serif;
  font-size: 14vw;
  line-height: 11vw;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  //min-width: 1500px;
  text-align: justify;
}
p {
  font-family: "Parmigiano Text Pro", Serif;
  font-weight: regular;
  color: black;
  font-size: 2vw;
  margin-top: 0px;
  margin-left: 26px;
  width: 70vw;
  hyphens: auto;
}
//.mainpage {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: 9790px;
  padding: 31px 73px;
  width: 1440px;
}
//.mainpage .text-1 {
  letter-spacing: 0px;
  line-height: 150px;
  min-height: 265px;
  text-align: justify;
  width: 1292px;
}
//.mainpage .text-2 {
  letter-spacing: 0px;
  line-height: 50px;
  margin-top: 63px;
  min-height: 1000px;
  width: 1286px;
}
//.parmigianotextpro-regular-normal-black-50px {
  color: black;
  font-family: "Parmigiano Text Pro-Regular", Helvetica, Arial, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --red: rgba(231, 35, 35, 1);
  --bg: rgba(184, 169, 138, 1);
}
